.site_header{
    background-color: rgb(212, 211, 211);
    display: flex;
    justify-content: center;
}
.site_title{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .site_title{
        font-size: 15px;
    }
}