.userinfo_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px 10px;
}

.grid-area{
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    overflow: auto;
}
 .grid-area-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #E5DDD5;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
}
.grid-area-2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
}
.grid-area-3{
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
}
.grid-area-4{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
}
.grid-area-5{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
} 
.grid-area-6{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
} 
.grid-area-7{
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
} 
.grid-area-8{
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
} 
.grid-area-9{
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    background-color: #D4D3D3;
    box-shadow: 0 0 35px -2px #48497926;
    border-radius: 10px;
} 
.grid-area span{
    font-weight: 700;
    text-decoration: solid;
}

@media only screen and (max-width: 600px) {
    .userinfo_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px 10px;
    }
    .grid-area-1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: #E5DDD5;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    }
    .grid-area-2{
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    }
    .grid-area-3{
        grid-column: 3 / 6;
        grid-row: 2 / 3;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    }
    .grid-area-4{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    }
    .grid-area-5{
        grid-column: 3 / 6;
        grid-row: 3 / 4;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    } 
    .grid-area-6{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    } 
    .grid-area-7{
        grid-column: 3 / 6;
        grid-row: 4 / 5;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    } 
    .grid-area-8{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    } 
    .grid-area-9{
        grid-column: 1 / 6;
        grid-row: 5 / 6;
        background-color: #D4D3D3;
        box-shadow: 0 0 35px -2px #48497926;
        border-radius: 10px;
    }
}